@media (min-width:100px){
    .flex-Conteiner{
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        width: 98.5vw;
        height:auto;
    }

    #hijo1{
        display: flex;
        width: 15% ;
        height:5vw;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        font-size: 2.2vw;
        margin-left: 5%;
    }

    #hijo1 p{
        margin-top: 2.5%;
    }

    #hijo2{
        display: flex;
        flex-direction: row;
        width: 30%;
        height: 5vw;
        background-color: rgb(255, 255, 255);
        font-size: 1.4vw;
    }

    #barraSuperior{
        margin-top: 2.2%;
    }

    #Inicio, #Link {
        color: black;
    }

    #hijo3{
        display: flex;
        flex-direction: row;
        width: 40%;
        height: 5vw;
        background-color: rgb(255, 255, 255);
        justify-content: flex-end;
    }

    #text1{
        display: flex;
        flex-direction: row;
        width: 30%;
        height: fit-content;
        margin-right: 2.5%;
        font-size: 1.4vw;
        margin-top: 2.5%;
        border-radius: 0.4vw;
        border-color: rgb(200, 200, 200);
        color: rgb(105, 105, 105);
    }

    #boton1{
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        margin-right: 2.5%;
        font-size: 1.4vw;
        margin-top: 2.5%;
        border-radius: 0.4vw;
        border-color: rgb(58, 162, 58);
        background-color: rgba(0, 255, 255, 0);
        color: rgb(58, 162, 58);
    }

    #hijo4{
        display: flex;
        flex-direction: row;
        width: 85% ;
        height:29vw ;
        background-color: rgb(255, 255, 255);
        margin-left: 5%;
        justify-content: space-between;  
    }

    #card1, #card2, #card3{
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        height: 60%;
    }

    .card-body{
        width: 100%;
        height: 40%;
    }

    .card-body h5{
        font-size: 2vw;
    }
    
    .card-body p{
        font-size: 1.5vw;
    }

    c,d{
        font-size: 1.3vw;
        color: rgb(135, 135, 135);
    }

    #hijo5{
        display: flex;
        flex-direction: column;
        width: 85%;
        height:fit-content ;
        background-color: rgb(255, 255, 255);
        margin-left: 5%;
    }

    #check{
        display: flex;
        flex-direction: row;
        height: 2vw;
        background-color: rgb(255, 255, 255);
    }

    #cuadradito{
        margin-top: 0.7vw;
        margin-right: 0.7vw;
    }

    #check e{
        height: 1vw;
    }

    #enviar{
        width: fit-content;
        color: white;
        background-color: rgba(45, 119, 255, 0.933);
        border-radius: 0.4vw;
    }
}